/** {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    list-style: none;*/
/*    text-decoration: none;*/
/*}*/
/*body {*/
/*    !*background: #f9fbff;*!*/
/*}*/
/*.wrapper {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.wrapper > .header {*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    line-height: 70px;*/
/*    text-align: left;*/
/*    z-index: 10;*/
/*    background-color: #fff;*/
/*    font-family: "微软雅黑";*/
/*    box-shadow: 0 3px 4px rgba(0,0,0,0.1);*/

/*}*/

/*.wrapper > .header > .topbar {*/
/*    max-width: 1380px;*/
/*    min-width: 1140px;*/
/*    margin: 0 auto;*/
/*    font-size: 12px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
/*.wrapper > .header > .topbar > a {*/
/*    margin-top: -2px;*/
/*    width: 330px;*/
/*    height: 100px;*/
/*    float: left;*/
/*    margin-left: 18px;*/
/*}*/
/*.wrapper > .header > .topbar  > a >  img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.wrapper > .header > .topbar .p {*/
/*    float: right;*/
/*    width: auto;*/
/*    height: 100px;*/
/*    vertical-align: top;*/
/*    margin-top: -1px;*/
/*}*/

/*.wrapper > .header > .topbar .p span {*/
/*    display: block;*/
/*    line-height: 100px;*/
/*    font-size: 18px;*/
/*    color: #738299;*/
/*}*/
/*.wrapper > .header > .topbar .p span::before {*/
/*    display: inline-block;*/
/*    content: "";*/
/*    width: 36px;*/
/*    height: 28px;*/
/*    background: url("../img/msg.PNG") 0 0 no-repeat;*/
/*    position: relative;*/
/*    left: -5px;*/
/*    line-height: 28px;*/
/*    top: 7px;*/
/*}*/
/*!*header结束*!*/

/*.wrapper .content {*/
/*    margin: 0 auto;*/
/*    padding: 30px 0;*/
/*    width: 990px;*/
/*    height: auto;*/
/*}*/

/*.wrapper .content .maincenter {*/
/*    margin: 0 auto;*/
/*    width: 774px;*/
/*    height: auto;*/
/*}*/
/*.wrapper .content .maincenter .maincenter-box {*/
/*    padding: 20px 0;*/
/*    background-color: #fff;*/
/*}*/
/*.wrapper .content .maincenter .maincenter-box .maincenter-box-tip {*/
/*    display: block;*/
/*    padding-bottom: 10px;*/
/*}*/
/*.wrapper .content .maincenter .maincenter-box .maincenter-box-tip i {*/
/*    width: 26px;*/
/*    height: 32px;*/
/*    display: inline-block;*/
/*    font-size: 1.33em;*/
/*    text-shadow: 0 1px 0 #fff;*/
/*    position: relative;*/
/*    top: 10px;*/
/*    margin-right: 5px;*/
/*    background-image: url("../img/getBackInfo.PNG");*/
/*}*/
/*.wrapper .content .maincenter .maincenter-box .maincenter-box-tip  p{*/
/*    font-size: 14px;*/
/*    margin: 0;*/
/*    color: #6c6c6c;*/
/*    position: relative;*/
/*}*/




/*.wrapper .content .maincenter .maincenter-box .form {*/
/*    margin-top: 30px;*/
/*    color: #6c6c6c;*/
/*}*/
/*.wrapper .content .maincenter .maincenter-box .form  .ui-form {*/
/*    position: relative;*/
/*    height: 60px;*/
/*}*/
/*.wrapper .content .maincenter .maincenter-box .form  .ui-form  label.f {*/
/*    position: absolute;*/
/*    left: 150px;*/
/*}*/
/*.wrapper .content .maincenter .maincenter-box .form  .ui-form #userName ,*/
/*.wrapper .content .maincenter .maincenter-box .form  .ui-form #password,*/
/*.wrapper .content .maincenter .maincenter-box .form  .ui-form #sPassword{*/
/*    left: 208px;*/
/*    top: -4px;*/
/*    position: absolute;*/
/*    font-size: 12px;*/
/*    color: #6C6C6C;*/
/*    vertical-align: middle;*/
/*    width: 210px;*/
/*    height: 30px;*/
/*    border: 1px #cbcbcb solid;*/
/*    color: #123456;*/
/*    outline: none;*/
/*}*/
/*.wrapper .content .maincenter .maincenter-box .form  .ui-form #sPassword {*/
/*    top: 75px;*/
/*}*/
/*.wrapper .content .maincenter .maincenter-box .form  .ui-form .tip1 {*/
/*    position: absolute;*/
/*    left: 208px;*/
/*    top: 32px;*/
/*    display: block;*/
/*    height: 20px;*/
/*    font-size: 12px;*/
/*    color: #FF5243;;*/
/*    line-height: 20px;*/
/*    !*display: none;*!*/
/*}*/

/*.wrapper .content .maincenter .maincenter-box .form  .ui-form .tip2 {*/
/*    position: absolute;*/
/*    left: 208px;*/
/*    top: 111px;*/
/*    display: block;*/
/*    height: 20px;*/
/*    font-size: 12px;*/
/*    color: #FF5243;;*/
/*    line-height: 20px;*/
/*    !*display: none;*!*/
/*}*/

/*.wrapper .content .maincenter .maincenter-box .form  .ui-form  label.s {*/
/*    position: absolute;*/
/*    left: 118px;*/
/*    top: 78px;*/
/*}*/

/*.wrapper .content .maincenter .maincenter-box .btn {*/
/*    position: relative;*/
/*    top: 100px;*/
/*    height: 60px;*/
/*    width: 100%;*/
/*}*/
/*.wrapper .content .maincenter .maincenter-box .btn .i-btn {*/
/*    width: 140px;*/
/*    height: 34px;*/
/*    line-height: 34px;*/
/*    background-color: #0075ff;*/
/*    border-radius: 2px;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    font-size: 18px;*/
/*    outline: 0;*/
/*    border: 0;*/
/*    cursor: pointer;*/
/*    margin-left: 208px;*/
/*    margin-top: 8px;*/
/*}*/


/** {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    list-style: none;*/
/*    text-decoration: none;*/
/*}*/
/*body {*/
/*    background: #f9fbff;*/
/*}*/
/*.wrapper {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.wrapper > .header {*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    line-height: 70px;*/
/*    text-align: left;*/
/*    z-index: 10;*/
/*    background-color: #fff;*/
/*    font-family: "微软雅黑";*/
/*    box-shadow: 0 3px 4px rgba(0,0,0,0.1);*/

/*}*/

/*.wrapper > .header > .topbar {*/
/*    max-width: 1380px;*/
/*    min-width: 1140px;*/
/*    margin: 0 auto;*/
/*    font-size: 12px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
/*.wrapper > .header > .topbar > a {*/
/*    margin-top: -2px;*/
/*    width: 330px;*/
/*    height: 100px;*/
/*    float: left;*/
/*    margin-left: 18px;*/
/*}*/
/*.wrapper > .header > .topbar  > a >  img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.wrapper > .header > .topbar .p {*/
/*    float: right;*/
/*    width: auto;*/
/*    height: 100px;*/
/*    vertical-align: top;*/
/*    margin-top: -1px;*/
/*}*/

/*.wrapper > .header > .topbar .p span {*/
/*    display: block;*/
/*    line-height: 100px;*/
/*    font-size: 18px;*/
/*    color: #738299;*/
/*}*/
/*.wrapper > .header > .topbar .p span::before{*/
/*    display: inline-block;*/
/*    content: "";*/
/*    width: 36px;*/
/*    height: 28px;*/
/*    background: url("../img/msg.PNG") 0 0 no-repeat;*/
/*    position: relative;*/
/*    left: -5px;*/
/*    line-height: 28px;*/
/*    top: 7px;*/
/*}*/


/*!*注册开始*!*/
/*.wrapper .regform {*/
/*    width: 830px;*/
/*    margin: 0 auto;*/
/*    display: block;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*}*/

/*.wrapper .regform .regbox {*/
/*    border-radius: 2px;*/
/*    background: #fff;*/
/*    box-shadow: 0 0 9px 0 rgba(92,128,255,0.17);*/
/*    padding-bottom: 40px;*/
/*    position: relative;*/
/*    line-height: normal;*/
/*    width: 100%;*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    top: 5px;*/
/*}*/
/*.wrapper .regform .regbox .borderTop {*/
/*    height: 5px;*/
/*    width: 100%;*/
/*    margin-bottom: 50px;*/
/*    background: slateblue;*/
/*}*/

/*.wrapper .regform .regbox .content {*/
/*    min-height: 270px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*}*/
/*.wrapper .regform .regbox .content .u-input {*/
/*    position: relative;*/
/*    width: 100%;*/
/*}*/
/*.wrapper .regform .regbox .content .u-input .warning {*/
/*    display: inline-block;*/
/*    font-size: 14px;*/
/*    margin-left: 10px;*/
/*}*/




/*.wrapper .regform .regbox .content .u-input:nth-child(2) {*/
/*    margin-top: 45px;*/
/*}*/
/*.wrapper .regform .regbox .content .u-input:nth-child(3) {*/
/*    margin-top: 45px;*/
/*}*/

/*.wrapper .regform .regbox .content .u-input label {*/
/*    width: 32%;*/
/*    display: inline-block;*/
/*    text-align: right;*/
/*    font-size: 14px;*/
/*    color: #738299;*/
/*    padding-right: 16px;*/
/*    margin-bottom: 4px;*/
/*}*/

/*.wrapper .regform .regbox .content .u-input .input-wrapper {*/
/*    line-height: normal;*/
/*    vertical-align: middle;*/
/*    display: inline-block;*/
/*    box-sizing: border-box;*/
/*    width: 36%;*/
/*    position: relative;*/
/*}*/

/*.wrapper .regform .regbox .content .u-input .input-wrapper input {*/
/*    width: 100%;*/
/*    height: 36px;*/
/*    line-height: 36px;*/
/*    border: 0;*/
/*    border-radius: 0;*/
/*    outline: 0;*/
/*    padding: 0;*/
/*    border-bottom: 1px solid #ddd;*/
/*    font-size: 14px;*/
/*    padding-left: 10px;*/
/*}*/
/*.wrapper .regform .regbox .content .u-input .input-wrapper input::-webkit-input-placeholder {*/
/*    color: #ddd;*/
/*}*/
/*.wrapper .regform .regbox .content .u-input .input-wrapper input::-moz-placeholder {*/
/*    opacity: .9;*/
/*}*/

/*.wrapper .regform .regbox .content .u-input .input-wrapper input::-ms-input-placeholder {*/
/*    opacity: .9;*/
/*}*/
/*!*content完成*!*/

/*.wrapper .regform .regbox .bottomBar {*/
/*    width: 100%;*/
/*    margin: 26px auto 0;*/
/*    position: relative;*/
/*    text-align: center;*/
/*}*/
/*.wrapper .regform .regbox .bottomBar .bigBtn {*/
/*    width: 36%;*/
/*    height: 54px;*/
/*    line-height: 54px;*/
/*    background-color: #0075ff;*/
/*    border-radius: 2px;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    font-size: 18px;*/
/*    outline: 0;*/
/*    border: 0;*/
/*    cursor: pointer;*/
/*}*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 13px;
}
.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper > .header {
    width: 100%;
    height: 100px;
    line-height: 70px;
    text-align: left;
    z-index: 10;
    background-color: #fff;
    font-family: "微软雅黑";
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);

}

.wrapper > .header > .topbar {
    max-width: 1380px;
    min-width: 1140px;
    margin: 0 auto;
    font-size: 12px;
    width: 100%;
    height: 100%;
}
.wrapper > .header > .topbar > a {
    margin-top: -2px;
    width: 330px;
    height: 100px;
    float: left;
    margin-left: 18px;
}
.wrapper > .header > .topbar  > a >  img {
    width: 100%;
    height: 100%;
}

.wrapper > .header > .topbar .p {
    float: right;
    width: auto;
    height: 100px;
    vertical-align: top;
    margin-top: -1px;
}

.wrapper > .header > .topbar .p span {
    display: block;
    line-height: 100px;
    font-size: 18px;
    color: #738299;
}
.wrapper > .header > .topbar .p span::before{
    display: inline-block;
    content: "";
    width: 36px;
    height: 28px;
    background: url("../img/msg.PNG") 0 0 no-repeat;
    position: relative;
    left: -5px;
    line-height: 28px;
    top: 7px;
}

.wrapper .regform{
    width: 100%;
    height: 100%;
}

.wrapper .regform .page-box{
    max-width: 1380px;
    min-width: 1140px;
    margin: 0 auto;
    font-size: 12px;
    width: 100%;
    height: 100%;
}

.wrapper .regform .page-box .form-box{
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.wrapper .regform .page-box .form-box .created {
    padding: 30px 30px 20px 30px;
}

.wrapper .regform .page-box .form-box .created span {
    color: #333;
    font-weight: 500;
    font-size: 28px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}


.wrapper .regform .page-box .form-box .big-box{
    padding: 15px 50px 50px 50px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #bbb;
    box-shadow: 0px 0px 8px #bbb;
}

.wrapper .regform .page-box .form-box .big-box .form-input{
    margin-top: 16px;
    margin-bottom: 16px;
}

.wrapper .regform .page-box .form-box .big-box .form-input label{
    color: #333;
    padding-bottom: 5px;
    display: block;
    padding-left: 2px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.wrapper .regform .page-box .form-box .big-box .form-input input{
    height: 30px;
    width: 100%;
    border-width: 1px;
    border-color: #aab7b8;
    padding: 3px 7px;
    line-height: normal;
    border-radius: 3px;
    font-family: Arial,sans-serif;
    font-size: 13px;
    border: 1px solid #d0d0d0;
    border-top: 1px solid #bbb;
    outline: none;
}


.wrapper .regform .page-box .form-box .big-box .form-input input:focus{
    border-color: #cd7777;
    box-shadow: 0px 0px 2px #f40 ;
}

.wrapper .regform .page-box .form-box .big-box .form-input span{
    display: block;
    margin-top: 5px;
    color: #c40000;
}


.wrapper .regform .page-box .form-box .big-box .submit{
    margin-top: 20px;
    margin-bottom: 15px
}

.wrapper .regform .page-box .form-box .big-box .submit button{

    background: #f0c14b;
    width: 100% !important;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    height: 31px;
    border: 1px solid;
    text-align: center;
    overflow: hidden;
    text-decoration: none !important;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    border-color: #cba957 #bf942a #aa8326;
}

.wrapper .regform .page-box .form-box .big-box .submit button:hover{
    border-color: #c59f43 #aa8326 #957321;
}

